{% extends 'django_openstack/dash/base.html' %}

{% block sidebar %}
  {% with current_sidebar="billing" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_billing request.user.tenant as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title="Billing" refresh_link=refresh_link %}
{% endblock page_header %}

{% block dash_main %}
Your blance of StackDoll is S${{balance}}. 

<table class="wide">
  <tr>
    <th>ID</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Memo</th>
  </tr>
  {% for record in account_record_list.object_list %}
  <tr id="records" class="{% cycle 'odd' 'even' %}">
      <td>{{record.id}}</td>
      <td>{{record.amount}}</td>
      <td>{{record.time}}</td>
      <td>{{record.memo}}</td>
  </tr>
  {% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if account_record_list.has_previous %}
            <a href="?page={{ account_record_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ account_record_list.number }} of {{ account_record_list.paginator.num_pages }}.
        </span>

        {% if account_record_list.has_next %}
            <a href="?page={{ account_record_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
