{% extends 'dash_base.html' %}

{% block sidebar %}
  {% with current_sidebar="billing" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url dash_billing request.user.tenant as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "_page_header.html" with title="Billing" refresh_link=refresh_link %}
{% endblock page_header %}

{% block dash_main %}
Your blance of StackDoll is S${{balance}}. 

<table class="wide">
  <tr>
    <th>ID</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Memo</th>
  </tr>
  {% for record in account_record_list %}
  <tr id="records" class="{% cycle 'odd' 'even' %}">
      <td>{{record.id}}</td>
      <td>{{record.amount}}</td>
      <td>{{record.time}}</td>
      <td>{{record.memo}}</td>
  </tr>
  {% endfor %}
</table>



{% endblock %}
