<table id="billing" class="wide">
  <tr>
    <th>ID</th>
    <th>Tenant ID</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Memo</th>
    <th>Actions</th>
  </tr>
  {% for record in account_record_list.object_list  %}
  <tr id="records" class="{% cycle 'odd' 'even' %}">
      <td>{{record.id}}</td>
      <td>{{record.tenant_id}}</td>
      <td>{{record.amount}}</td>
      <td>{{record.time}}</td>
      <td>{{record.memo}}</td>
      <td id="actions">
        <ul>
         <li class="form">{% include "_delete_account_record.html" with form=delete_form %}</li>
        </ul>
      </td>
  </tr>
  {% endfor %}
</table>

