{% extends 'django_openstack/syspanel/base.html' %}

{% block sidebar %}
  {% with current_sidebar="billing" %}
    {{block.super}}
  {% endwith %}
{% endblock %}

{% block page_header %}
  {% url syspanel_flavors as refresh_link %}
  {# to make searchable false, just remove it from the include statement #}
  {% include "django_openstack/common/_page_header.html" with title="Billing" refresh_link=refresh_link %}
{% endblock page_header %}

{% block syspanel_main %}

<script charset='utf-8' src='{{ STATIC_URL }}../billing/static/jsonreport.js' type='text/javascript'></script>


<table class="wide">
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Type</th>
    <th>Tenant ID</th>
    <th>User ID</th>
    <th>Request ID</th>
    <th>Message ID</th>
    <th>Message</th>
    <th>Created</th>
  </tr>
  {% for record in eventlog_list.object_list  %}
  <tr id="records" class="{% cycle 'odd' 'even' %}">
      <td>{{record.id}}</td>
      <td>{{record.status}}</td>
      <td>{{record.priority}}</td>
      <td>{{record.event_type}}</td>
      <td>{{record.tenant_id}}</td>
      <td>{{record.user_id}}</td>
      <td><img alt='{{record.request_id}}' src='http://identicon.relucks.org/{{record.request_id}}?size=24'/></td>
      <td><img alt='{{record.message_id}}' src='http://identicon.relucks.org/{{record.message_id}}?size=24'/></td>
      <td><pre style='font-size:12px;'>{{record.message|linebreaksbr}}</pre></td>
      <td>{{record.created}}</td>
  </tr>
  {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if eventlog_list.has_previous %}
            <a href="?page={{ eventlog_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ eventlog_list.number }} of {{ eventlog_list.paginator.num_pages }}.
        </span>

        {% if eventlog_list.has_next %}
            <a href="?page={{ eventlog_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

